<app-header></app-header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
    </div>
    <div class="page-header__shape-4">
        <img src="assets/images/shapes/page-header-shape-4.png" alt="">
    </div>
    <div class="page-header__shape-5">
        <img src="assets/images/shapes/page-header-shape-5.png" alt="">
    </div>
    <div class="page-header__social">
        <a href="#">Facebook</a>
        <span>//</span>
        <a href="#">Instagram</a>
        <span>//</span>
        <a href="#">LinkedIn</a>
        <span>//</span>
        <a href="#">Twitter</a>
    </div>
    <div class="container">
        <div class="page-header__inner">
            <div class="page-header__img">
                <img src="assets/images/resources/page-header-img-1.png" alt="">
                <div class="page-header__shape-1">
                    <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                </div>
                <div class="page-header__shape-2">
                    <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                </div>
                <div class="page-header__shape-3">
                    <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                </div>
            </div>
            <h2>Inscription</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Accueil</a></li>
                    <li><span>//</span></li>
                    <li>Inscription</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Start Inscription One-->
<section class="login-one">
    <div class="container">
        <div class="login-one__form">
            <div class="inner-title text-center">
                <h2>Inscrivez-vous ici</h2>
            </div>
            <form id="login-one__form" (ngSubmit)="register()"  name="Login-one_form"  #inscriptionForm="ngForm">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formFirstName" style="margin-bottom: 1rem;">Prénom</label>
                                <input type="text" name="form_first_name" id="formFirstName" placeholder="Prénom..." [(ngModel)]="firstName" (input)="validateForm()">
                                <div *ngIf="errors['firstName']" class="error">{{ errors['firstName'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formLastName" style="margin-bottom: 1rem;">Nom de famille</label>
                                <input type="text" name="form_last_name" id="formLastName" placeholder="Nom de famille..." [(ngModel)]="lastName" (input)="validateForm()">
                                <div *ngIf="errors['lastName']" class="error">{{ errors['lastName'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formUsername" style="margin-bottom: 1rem;">Nom d'utilisateur</label>
                                <input type="text" name="form_username" id="formUsername" placeholder="Nom d'utilisateur..." [(ngModel)]="username" (input)="validateForm()" autocomplete="username">
                                <div *ngIf="errors['username']" class="error">{{ errors['username'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formEmail" style="margin-bottom: 1rem;">Email</label>
                                <input type="email" name="form_email" id="formEmail" placeholder="Email..." [(ngModel)]="email" (input)="validateForm()" autocomplete="email">
                                <div *ngIf="errors['email']" class="error">{{ errors['email'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formPassword" style="margin-bottom: 1rem;">Mot de passe</label>
                                <input type="password" name="form_password" id="formPassword" placeholder="Mot de passe..." [(ngModel)]="password" (input)="onPasswordChange($event)" autocomplete="new-password">
                                <span class="toggle-password" (click)="togglePasswordVisibility('formPassword')">
                                    <span *ngIf="isPasswordVisible('formPassword')">👁️</span>
                                    <span *ngIf="!isPasswordVisible('formPassword')">👁️</span>
                                </span>
                                <div *ngIf="errors['password']" class="error">{{ errors['password'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formConfirmPassword" style="margin-bottom: 1rem;">Confirmer le mot de passe</label>
                                <input type="password" name="form_confirm_password" id="formConfirmPassword" placeholder="Confirmer le mot de passe..." [(ngModel)]="confirmPassword" (input)="onConfirmPasswordChange($event)" autocomplete="new-password">
                                <span class="toggle-password1" (click)="togglePasswordVisibility('formConfirmPassword')">
                                    <span *ngIf="isPasswordVisible('formConfirmPassword')">👁️</span>
                                    <span *ngIf="!isPasswordVisible('formConfirmPassword')">👁️</span>
                                </span>
                                <div *ngIf="errors['confirmPassword']" class="error">{{ errors['confirmPassword'] }}</div>
                                <div *ngIf="errors['passwordMismatch']" class="error">{{ errors['passwordMismatch'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formPhoneNumber" style="margin-bottom: 1rem;">Numéro de téléphone</label>
                                <input type="text" name="form_phone_number" id="formPhoneNumber" placeholder="Numéro de téléphone..." [(ngModel)]="phoneNumber" (input)="validateForm()">
                                <div *ngIf="errors['phoneNumber']" class="error">{{ errors['phoneNumber'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formAddress" style="margin-bottom: 1rem;">Adresse</label>
                                <input type="text" name="form_address" id="formAddress" placeholder="Adresse..." [(ngModel)]="address" (input)="validateForm()">
                                <div *ngIf="errors['address']" class="error">{{ errors['address'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formPostalCode" style="margin-bottom: 1rem;">Code postal</label>
                                <input type="text" name="form_postal_code" id="formPostalCode" placeholder="Code postal..." [(ngModel)]="selectedCodePostal" (change)="onCodePostalChange($event)">
                                <div *ngIf="errors['codePostal']" class="error">{{ errors['codePostal'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <div class="input-box">
                                <label for="formCity" style="margin-bottom: 1rem;">Ville</label>
                                <input type="text" name="form_city" id="formCity" placeholder="Ville..." [(ngModel)]="selectedVille" (change)="onVilleChange($event)">
                                <div *ngIf="errors['ville']" class="error">{{ errors['ville'] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <button class="thm-btn" type="submit" data-loading-text="Veuillez patienter...">Inscrivez-vous ici</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--End Inscription One-->

<!--Newsletter Two Start -->
<section class="newsletter-two">
    <div class="container">
        <div class="newsletter-two__inner">
            <div class="newsletter-two__img">
                <img src="assets/images/resources/newsletter-two-img-1.png" alt="">
            </div>
            <div class="newsletter-two__inner-content">
                <div class="newsletter-two__shape-bg" style="background-image: url(assets/images/shapes/newsletter-two-shape-bg.png);"></div>
                <div class="newsletter-two__like">
                    <img src="assets/images/shapes/newsletter-two-like.png" alt="">
                </div>
                <div class="newsletter-two__title-box">
                    <h3 class="newsletter-two__title">Subscribe our <span>Newsletter</span></h3>
                    <p class="newsletter-two__text">Explore a diverse selection of courses all in one platform,
                        <br> designed to cater to various learning</p>
                </div>
                <div class="newsletter-two__form-box">
                    <form class="newsletter-two__form">
                        <div class="newsletter-two__input">
                            <input type="email" placeholder="Enter Your Email">
                        </div>
                        <button type="submit" class="newsletter-two__btn"> <span
                                class="icon-arrow-circle"></span>
                            Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Newsletter Two End -->

<!--Contact Info One Start -->
<section class="contact-info-one">
    <div class="container">
        <ul class="list-unstyled contact-info-one__list">
            <li>
                <div class="contact-info-one__single">
                    <div class="contact-info-one__icon">
                        <span class="icon-envelope"></span>
                    </div>
                    <div class="contact-info-one__content">
                        <p class="contact-info-one__sub-title">Email Address:</p>
                        <h5 class="contact-info-one__email"><a href="mailto:info@example.com">infoexample.com</a></h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="contact-info-one__single">
                    <div class="contact-info-one__icon">
                        <span class="icon-phone"></span>
                    </div>
                    <div class="contact-info-one__content">
                        <p class="contact-info-one__sub-title">Phone Number</p>
                        <h5 class="contact-info-one__email"><a href="tel:001239957689">+00 123 (99) 57689</a>
                        </h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="contact-info-one__single">
                    <div class="contact-info-one__icon">
                        <span class="icon-location"></span>
                    </div>
                    <div class="contact-info-one__content">
                        <p class="contact-info-one__sub-title">Our Address</p>
                        <h5 class="contact-info-one__email">1234 Elm Street Springfield,</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Contact Info One End -->
<app-footer></app-footer>
<app-preloader></app-preloader>
