   <app-header></app-header>
   

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
    </div>
    <div class="page-header__shape-4">
        <img src="assets/images/shapes/page-header-shape-4.png" alt="">
    </div>
    <div class="page-header__shape-5">
        <img src="assets/images/shapes/page-header-shape-5.png" alt="">
    </div>
    <div class="page-header__social">
        <a href="#">Facebook</a>
        <span>//</span>
        <a href="#">Instagram</a>
        <span>//</span>
        <a href="#">LinkedIn</a>
        <span>//</span>
        <a href="#">Twitter</a>
    </div>
    <div class="container">
        <div class="page-header__inner">
            <div class="page-header__img">
                <img src="assets/images/resources/page-header-img-1.png" alt="">
                <div class="page-header__shape-1">
                    <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                </div>
                <div class="page-header__shape-2">
                    <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                </div>
                <div class="page-header__shape-3">
                    <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                </div>
            </div>
            <h2>Succès</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Accueil</a></li>
                    <li><span>//</span></li>
                    <li>Succès</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->



    <!--Start Error Page-->
    <section class="error-page">
        <div class="container">
            <div class="error-page__inner text-center">
                <div class="error-page__img float-bob-y">
                    <img src="assets/images/resources/heure-du-cours-de-medecine.png" alt="">
                </div>

                <div class="error-page__content">
                    <h2>Merci! Votre signalement a été envoyé avec succès!</h2>
                    <p>Votre signalement est en attente d'acceptation. Merci de patienter.</p>
                    <div class="btn-box">
                        <a class="thm-btn" href="/"> <span class="icon-angles-right"></span> Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Error Page-->

    <!--Newsletter Two Start -->
    <section class="newsletter-two">
        <div class="container">
            <div class="newsletter-two__inner">
                <div class="newsletter-two__img">
                    <img src="assets/images/resources/newsletter-two-img-1.png" alt="">
                </div>
                <div class="newsletter-two__inner-content">
                    <div class="newsletter-two__shape-bg"
                        style="background-image: url(assets/images/shapes/newsletter-two-shape-bg.png);"></div>
                    <div class="newsletter-two__like">
                        <img src="assets/images/shapes/newsletter-two-like.png" alt="">
                    </div>
                    <div class="newsletter-two__title-box">
                        <h3 class="newsletter-two__title">Subscribe our <span>Newsletter</span></h3>
                        <p class="newsletter-two__text">Explore a diverse selection of courses all in one platform,
                            <br>
                            designed to cater to various learning</p>
                    </div>
                    <div class="newsletter-two__form-box">
                        <form class="newsletter-two__form">
                            <div class="newsletter-two__input">
                                <input type="email" placeholder="Enter Your Email">
                            </div>
                            <button type="submit" class="newsletter-two__btn"> <span
                                    class="icon-arrow-circle"></span>
                                Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Newsletter Two End -->

    <app-footer></app-footer>
    <app-preloader></app-preloader>