<app-header></app-header>
<div class="page-wrapper">

    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
        </div>
        <div class="page-header__shape-4">
            <img src="assets/images/shapes/page-header-shape-4.png" alt="">
        </div>
        <div class="page-header__shape-5">
            <img src="assets/images/shapes/page-header-shape-5.png" alt="">
        </div>
        <div class="page-header__social">
            <a href="#">Facebook</a>
            <span>//</span>
            <a href="#">Instagram</a>
            <span>//</span>
            <a href="#">LinkedIn</a>
            <span>//</span>
            <a href="#">Twitter</a>
        </div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__img">
                    <img src="assets/images/resources/page-header-img-1.png" alt="">
                    <div class="page-header__shape-1">
                        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                    </div>
                    <div class="page-header__shape-2">
                        <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                    </div>
                    <div class="page-header__shape-3">
                        <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                    </div>
                </div>
                <h2>À propos de nous</h2>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Accueil</a></li>
                        <li><span>//</span></li>
                        <li>À propos de nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>






    <!--About Three Start-->
    <section class="about-three">
        <div class="about-three__shape-2 rotate-me"></div>
        <div class="about-three__shape-3 text-rotate-box"></div>
        <div class="about-three__shape-4 float-bob-y"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="about-three__left wow slideInLeft" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <div class="about-three__shape-1 img-bounce">
                            <img src="assets/images/shapes/about-three-shape-1.png" alt="">
                        </div>
                        <div class="about-three__img-box">
                            <div class="about-three__img-one">
                                <img src="assets/images/resources/about-three-img-1.jpg" alt="">
                            </div>
                            <div class="about-three__img-two">
                                <img src="assets/images/resources/about-three-img-2.jpg" alt="">
                            </div>
                            <div class="about-three__experience-box">
                                <div class="about-three__experience-box-inner">
                                    <div class="about-three__experience-icon">
                                        <img src="assets/images/icon/about-three-experience-icon.png" alt="">
                                    </div>
                                    <div class="about-three__experience-count-box">
                                        <div class="about-three__experience-count">
                                            <h3 class="odometer" data-count="25">00</h3>
                                            <span>+</span>
                                            <p>Années</p>
                                        </div>
                                        <p>d'expérience</p>
                                    </div>
                                </div>
                                <div class="about-three__experience-box-shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="about-three__right">
                        <div class="section-title-two text-left sec-title-animation animation-style2">
                            <div class="section-title-two__tagline-box">
                                <div class="section-title-two__tagline-shape">
                                    <img src="assets/images/shapes/alerte.png" alt="">
                                </div>
                                <span class="section-title-two__tagline">À propos de notre service</span>
                            </div>
                            <h2 class="section-title-two__title title-animation">Lutte contre la fraude et assistance aux <span>victimes</span>
                            </h2>
                        </div>
                        <p class="about-three__text-1">Nous sommes dédiés à la prévention et à la gestion des fraudes. Notre mission est de vous accompagner et de vous fournir les outils nécessaires pour vous protéger contre les arnaques et escroqueries</p>
                        <div class="about-three__mission-vission">
                            <div class="about-three__tab-box tabs-box">
                                <ul class="tab-buttons clearfix list-unstyled">
                                    <li data-tab="#mission" class="tab-btn active-btn"><span>Notre Mission</span></li>
                                    <li data-tab="#vission" class="tab-btn"><span>Notre Vision</span></li>
                                </ul>
                                <div class="tabs-content">
                                    <!--tab-->
                                    <div class="tab active-tab" id="mission">
                                        <div class="tabs-content__inner">
                                            <ul class="list-unstyled about-three__mission-vission-list">
                                                <li>
                                                    <div class="about-three__mission-vission-content">
                                                        <h4 class="about-three__mission-vission-title">Informer et sensibiliser</h4>
                                                        <p class="about-three__mission-vission-text">Nous mettons à disposition des ressources pour reconnaître et éviter les fraudes courantes.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="about-three__mission-vission-content">
                                                        <h4 class="about-three__mission-vission-title">Assister les victime</h4>
                                                        <p class="about-three__mission-vission-text">Un accompagnement personnalisé pour ceux qui ont été victimes d'escroquerie.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--tab-->
                                    <!--tab-->
                                    <div class="tab" id="vission">
                                        <div class="tabs-content__inner">
                                            <ul class="list-unstyled about-three__mission-vission-list">
                                                <li>
                                                    <div class="about-three__mission-vission-content">
                                                        <h4 class="about-three__mission-vission-title">Un monde sans fraude</h4>
                                                        <p class="about-three__mission-vission-text">Nous aspirons à une société où chaque individu est protégé contre les cybercriminels.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="about-three__mission-vission-content">
                                                        <h4 class="about-three__mission-vission-title">Collaboration avec les autorités</h4>
                                                        <p class="about-three__mission-vission-text">Nous travaillons main dans la main avec les organismes de lutte contre la fraude.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--tab-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Three End-->
    <!-- Sliding Text Three Start-->
    <section class="sliding-text-three sliding-text-four">
        <div class="sliding-text-three__wrap">
            <ul class="sliding-text-three__list list-unstyled marquee_mode">
                <li>
                    <h2 data-hover="20+ Instructeur " class="sliding-text-three__title count-box">Assistance à la fraude
                        <img src="assets/images/shapes/sliding-text-three-shape-1.png" alt=""></h2>
                </li>
                <li>
                    <h2 data-hover="20+ Instructeur " class="sliding-text-three__title count-box">Assistance à la fraude
                        <img src="assets/images/shapes/sliding-text-three-shape-1.png" alt=""></h2>
                </li>
                <li>
                    <h2 data-hover="20+ Instructeur " class="sliding-text-three__title count-box">Assistance à la fraude
                        <img src="assets/images/shapes/sliding-text-three-shape-1.png" alt=""></h2>
                </li>
                <li>
                    <h2 data-hover="20+ Instructeur " class="sliding-text-three__title count-box">Assistance à la fraude
                        <img src="assets/images/shapes/sliding-text-three-shape-1.png" alt=""></h2>
                </li>
                <li>
                    <h2 data-hover="20+ Instructeur " class="sliding-text-three__title count-box">Assistance à la fraude
                        <img src="assets/images/shapes/sliding-text-three-shape-1.png" alt=""></h2>
                </li>
            </ul>
        </div>
    </section>
    <!-- Sliding Text Three End -->
<!--Why Choose Three Start-->
<section class="why-choose-three">
    <div class="why-choose-three__shape-1 img-bounce"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-three__left">
                    <div class="section-title-two text-left sec-title-animation animation-style2">
                        <div class="section-title-two__tagline-box">
                            <div class="section-title-two__tagline-shape">
                                <img src="assets/images/shapes/alerte.png" alt="">
                            </div>
                            <span class="section-title-two__tagline">Pourquoi nous choisir</span>
                        </div>
                        <h2 class="section-title-two__title title-animation">Découvrez pourquoi nos clients nous <span>choisissent</span> pour la protection contre la fraude</h2>
                    </div>
                    <p class="why-choose-three__text-1">Notre équipe est dédiée à offrir un service de sécurité exceptionnel et à vous protéger contre la fraude. Avec des outils avancés et un accompagnement constant, nous assurons une vigilance 24/7.</p>
                    <div class="why-choose-three__ceo-speech-box">
                        <div class="why-choose-three__ceo-speech">
                            <div class="why-choose-three__ceo-img-two">
                                <img src="assets/images/resources/why-choose-three-ceo-img-two.jpg" alt="">
                            </div>
                            <div class="why-choose-three__ceo-details">
                                <div class="why-choose-three__ceo-img">
                                    <img src="assets/images/resources/why-choose-three-ceo-img.jpg" alt="">
                                </div>
                                <div class="why-choose-three__ceo-content">
                                    <p>EMPLOYEUR</p>
                                    <h5>Jordan Williamson</h5>
                                </div>
                            </div>
                            <p class="why-choose-three__ceo-text">Nous nous engageons à offrir des solutions fiables et rapides pour vous protéger contre les tentatives de fraude. Grâce à notre équipe d'experts, nous répondons immédiatement à vos préoccupations de sécurité et assurons une protection continue.</p>
                        </div>
                        <div class="why-choose-three__ceo-speech-border"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-three__right">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <ul class="list-unstyled why-choose-three__feature">
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="assets/images/icon/why-choose-three-feature-4.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Assistance dédiée 24/7</h4>
                                            <p class="why-choose-three__feature-text">Notre équipe est disponible 24 heures sur 24, 7 jours sur 7, pour répondre à vos préoccupations et vous fournir un soutien rapide en cas de fraude.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="assets/images/icon/why-choose-three-feature-2.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Recherche de signalements de fraude</h4>
                                            <p class="why-choose-three__feature-text">Nous proposons des outils de recherche pour identifier rapidement les signalements de fraude et agir immédiatement pour les prévenir.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <ul class="list-unstyled why-choose-three__feature why-choose-three__feature--two">
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="assets/images/icon/email.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Notifications par e-mail</h4>
                                            <p class="why-choose-three__feature-text">Recevez des notifications instantanées par e-mail pour toute activité suspecte ou tentative de fraude détectée, afin de pouvoir agir rapidement.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose Three End-->



<!-- Counter One Start -->
<section class="counter-one" style="margin-bottom: 10rem;">
    <div class="counter-one__bg" style="background-image: url(assets/images/backgrounds/counter-one-bg.jpg);">
        <div class="counter-one__video-link">
            <div class="counter-one__video-shape-1">
                <img src="assets/images/shapes/counter-one-video-shape-1.png" alt="">
            </div>
            <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                <div class="counter-one__video-icon">
                    <span class="icon-play"></span>
                    <i class="ripple"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="counter-one__shape-1" style="background-image: url(assets/images/shapes/counter-one-shape-1.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="counter-one__left">
                    <ul class="counter-one__list list-unstyled">
                        <li>
                            <div class="counter-one__count-hover-img" style="background-image: url(assets/images/resources/counter-one-single-hover-img.jpg);"></div>
                            <div class="counter-one__count count-box">
                                <h3 class="count-text" data-stop="100" data-speed="1500">00</h3>
                                <span>+</span>
                            </div>
                            <p>Affaires Résolues</p>
                        </li>
                        <li>
                            <div class="counter-one__count-hover-img" style="background-image: url(assets/images/resources/counter-one-single-hover-img.jpg);"></div>
                            <div class="counter-one__count count-box">
                                <h3 class="count-text" data-stop="200" data-speed="1500">00</h3>
                                <span>+</span>
                            </div>
                            <p>Clients Satisfaits</p>
                        </li>
                        <li>
                            <div class="counter-one__count-hover-img" style="background-image: url(assets/images/resources/counter-one-single-hover-img.jpg);"></div>
                            <div class="counter-one__count count-box">
                                <h3 class="count-text" data-stop="98" data-speed="1500">00</h3>
                                <span>%</span>
                            </div>
                            <p>Taux de Réussite</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter One End -->



    <!--Testimonial Two Start -->
<!--     <section class="testimonial-two">
        <div class="testimonial-two__shape-6">
            <img src="assets/images/shapes/testimonial-two-shape-6.png" alt="">
        </div>
        <div class="testimonial-two__shape-1">
            <img src="assets/images/shapes/testimonial-two-shape-1.png" alt="">
            <div class="testimonial-two__shape-icon-1">
                <img src="assets/images/icon/testimonial-two-shape-icon-1.png" alt="" class="zoom-fade">
            </div>
            <div class="testimonial-two__shape-img-2">
                <img src="assets/images/testimonial/testimonial-two-shape-img-2.jpg" alt="">
            </div>
            <div class="testimonial-two__shape-img-3 img-bounce">
                <img src="assets/images/testimonial/testimonial-two-shape-img-3.jpg" alt="">
            </div>
        </div>
        <div class="testimonial-two__shape-2">
            <img src="assets/images/shapes/testimonial-two-shape-2.png" alt="">
            <div class="testimonial-two__shape-icon-2 float-bob-y">
                <img src="assets/images/icon/testimonial-two-shape-icon-2.png" alt="">
            </div>
            <div class="testimonial-two__shape-img-1 zoom-fade">
                <img src="assets/images/testimonial/testimonial-two-shape-img-1.jpg" alt="">
            </div>
        </div>
        <div class="testimonial-two__shape-3 float-bob-x">
            <img src="assets/images/shapes/testimonial-two-shape-3.png" alt="">
        </div>
        <div class="testimonial-two__shape-4"></div>
        <div class="testimonial-two__shape-5"></div>
        <div class="container">
            <div class="testimonial-two__inner">
                <div class="testimonial-two__quote">
                    <span class="icon-quote"></span>
                </div>
                <div class="testimonial-two__slider">

                    <div class="testimonial-two__main-content">
                        <div class="testimonial-two__carousel owl-carousel owl-theme">
                            <div class="testimonial-two__item">
                                <div class="testimonial-two__inner-content">
                                    <div class="testimonial-two__rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <p class="testimonial-two__text"> Il a survécu non seulement cinq siècles,
                                        mais aussi le saut dans la composition électronique<br> restant essentiellement inchangé.
                                        Il a été popularisé dans les<br> années 1960 avec la sortie de feuilles Letraset
                                        contenant des passages de Lorem Ipsum<br> et plus récemment avec des logiciels de publication assistée par ordinateur comme Aldus<br> PageMaker incluant des versions de Lorem Ipsum.</p>
                                    <div class="testimonial-two__client-info">
                                        <div class="testimonial-two__client-logo">
                                            <img src="assets/images/testimonial/testimonial-two-client-logo.png"
                                                alt="">
                                        </div>
                                        <div class="testimonial-two__client-name-box">
                                            <h4 class="testimonial-two__client-name"><a
                                                    href="testimonials.html">Mitchel Clack</a></h4>
                                            <p class="testimonial-two__client-sub-title">Spécialiste technique</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="testimonial-two__item">
                                <div class="testimonial-two__inner-content">
                                    <div class="testimonial-two__rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <p class="testimonial-two__text"> Il a survécu non seulement cinq siècles,
                                        mais aussi le saut dans la composition électronique<br> restant essentiellement inchangé.
                                        Il a été popularisé dans les<br> années 1960 avec la sortie de feuilles Letraset
                                        contenant des passages de Lorem Ipsum<br> et plus récemment avec des logiciels de publication assistée par ordinateur comme Aldus<br> PageMaker incluant des versions de Lorem Ipsum.</p>
                                    <div class="testimonial-two__client-info">
                                        <div class="testimonial-two__client-logo">
                                            <img src="assets/images/testimonial/testimonial-two-client-logo.png"
                                                alt="">
                                        </div>
                                        <div class="testimonial-two__client-name-box">
                                            <h4 class="testimonial-two__client-name"><a
                                                    href="testimonials.html">Mitchela Smith</a></h4>
                                            <p class="testimonial-two__client-sub-title">Spécialiste technique</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="testimonial-two__item">
                                <div class="testimonial-two__inner-content">
                                    <div class="testimonial-two__rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <p class="testimonial-two__text"> Il a survécu non seulement cinq siècles,
                                        mais aussi le saut dans la composition électronique<br> restant essentiellement inchangé.
                                        Il a été popularisé dans les<br> années 1960 avec la sortie de feuilles Letraset
                                        contenant des passages de Lorem Ipsum<br> et plus récemment avec des logiciels de publication assistée par ordinateur comme Aldus<br> PageMaker incluant des versions de Lorem Ipsum.</p>
                                    <div class="testimonial-two__client-info">
                                        <div class="testimonial-two__client-logo">
                                            <img src="assets/images/testimonial/testimonial-two-client-logo.png"
                                                alt="">
                                        </div>
                                        <div class="testimonial-two__client-name-box">
                                            <h4 class="testimonial-two__client-name"><a
                                                    href="testimonials.html">Sarah Smith</a></h4>
                                            <p class="testimonial-two__client-sub-title">Spécialiste technique</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="testimonial-two__thumb-outer-box">
                        <div class="testimonial-two__thumb-carousel owl-carousel owl-theme">
                            <div class="testimonial-two__thumb-item">
                                <div class="testimonial-two__img-holder-box">
                                    <div class="testimonial-two__img-holder">
                                        <img src="assets/images/testimonial/testimonial-2-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-two__thumb-item">
                                <div class="testimonial-two__img-holder-box">
                                    <div class="testimonial-two__img-holder">
                                        <img src="assets/images/testimonial/testimonial-2-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-two__thumb-item">
                                <div class="testimonial-two__img-holder-box">
                                    <div class="testimonial-two__img-holder">
                                        <img src="assets/images/testimonial/testimonial-2-3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>  -->
    <!--Testimonial Two End -->





</div><!-- /.page-wrapper -->

<app-footer></app-footer>
<app-preloader></app-preloader>