<app-header></app-header>
<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
    </div>
    <div class="page-header__shape-4">
        <img src="assets/images/shapes/page-header-shape-4.png" alt="">
    </div>
    <div class="page-header__shape-5">
        <img src="assets/images/shapes/page-header-shape-5.png" alt="">
    </div>
    <div class="page-header__social">
        <a href="#">Facebook</a>
        <span>//</span>
        <a href="#">Instagram</a>
        <span>//</span>
        <a href="#">LinkedIn</a>
        <span>//</span>
        <a href="#">Twitter</a>
    </div>
    <div class="container">
        <div class="page-header__inner">
            <div class="page-header__img">
                <img src="assets/images/resources/page-header-img-1.png" alt="">
                <div class="page-header__shape-1">
                    <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                </div>
                <div class="page-header__shape-2">
                    <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                </div>
                <div class="page-header__shape-3">
                    <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                </div>
            </div>
            <h2>Contactez-nous</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Accueil</a></li>
                    <li><span>//</span></li>
                    <li>Contactez-nous</li>
                </ul>
            </div>
        </div>
    </div>
</section>




<!--Page Header Start-->

<!--Page Header End-->

<!--Contact Two Start-->
<section class="contact-two">
    <div class="container">
        <ul class="row list-unstyled">
            <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                <div class="contact-two__single" style="
                height: 242px;
            ">
                    <div class="contact-two__icon">
                        <img src="assets/images/icon/carte.png" alt="">
                    </div>
                    <h3 class="contact-two__title">Notre Adresse</h3>
                    <p>25 rue de Ponthieu, Paris,<br> France</p>
                </div>
            </li>
            <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms">
                <div class="contact-two__single" style="
                height: 242px;
            ">
                    <div class="contact-two__icon">
                        <img src="assets/images/icon/contact-two-icon-2.png" alt="">
                    </div>
                    <h3 class="contact-two__title">Numéro de Téléphone</h3>
                    <p> <a href="tel:+33633329278">+33 6 33 32 92 78</a></p>
                </div>
            </li>
            <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="300ms">
                <div class="contact-two__single" style="
                height: 242px;
            ">
                    <div class="contact-two__icon">
                        <img src="assets/images/icon/poster.png" alt="">
                    </div>
                    <h3 class="contact-two__title">Adresse Email</h3>
                    <p> <a href="mailto:cm&#64;assistancefraude.fr">cm&#64;assistancefraude.fr</a></p>
                </div>
            </li>
            <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="400ms">
                <div class="contact-two__single" style="
                height: 242px;
            ">
                    <div class="contact-two__icon">
                        <img src="assets/images/icon/contact-two-icon-4.png" alt="">
                    </div>
                    <h3 class="contact-two__title">Horaires</h3>
                    <p> 09:00 - 17:00
                        <br> Lundi - Vendredi</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Contact Two End-->

<!--Contact Three Start-->

<!-- Section Contact Start -->
<section class="contact-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="contact-three__left">
                    <div class="contact-three__img">
                        <img src="assets/images/resources/contact-three-img-1.jpg" alt="Assistance Contact">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-three__right">
                    <div class="section-title-two text-left sec-title-animation animation-style1">
                        <div class="section-title-two__tagline-box">
                            <div class="section-title-two__tagline-shape">
                                <img src="assets/images/shapes/section-title-two-shape-1.png" alt="">
                            </div>
                            <span class="section-title-two__tagline">Besoin d’aide ?</span>
                        </div>
                        <h2 class="section-title-two__title title-animation">
                            Nous sommes là pour vous accompagner
                        </h2>
                    </div>
                    <form class="contact-form-validated contact-three__form" action="assets/inc/sendemail.php"
                        method="post" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <h4 class="contact-three__input-title">Nom complet *</h4>
                                <div class="contact-three__input-box">
                                    <input type="text" name="name" placeholder="Votre nom" required="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <h4 class="contact-three__input-title">Adresse e-mail *</h4>
                                <div class="contact-three__input-box">
                                    <input type="email" name="email" placeholder="votre@email.com" required="">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <h4 class="contact-three__input-title">Sujet *</h4>
                                <div class="contact-three__input-box">
                                    <input type="text" name="subject" placeholder="Décrivez votre problème"
                                        required="">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <h4 class="contact-three__input-title">Message *</h4>
                                <div class="contact-three__input-box text-message-box">
                                    <textarea name="message" placeholder="Expliquez votre situation"></textarea>
                                </div>
                                <div class="contact-three__btn-box">
                                    <button type="submit" class="thm-btn-two contact-three__btn"><span>Envoyer</span><i class="icon-angles-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="result"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Contact End -->

<!--Contact Three End-->





<app-footer></app-footer>
<app-preloader></app-preloader>