<app-header></app-header>

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
    </div>
    <div class="page-header__shape-4">
        <img src="assets/images/shapes/page-header-shape-4.png" alt="">
    </div>
    <div class="page-header__shape-5">
        <img src="assets/images/shapes/page-header-shape-5.png" alt="">
    </div>
    <div class="page-header__social">
        <a href="#">Facebook</a>
        <span>//</span>
        <a href="#">Instagram</a>
        <span>//</span>
        <a href="#">LinkedIn</a>
        <span>//</span>
        <a href="#">Twitter</a>
    </div>
    <div class="container">
        <div class="page-header__inner">
            <div class="page-header__img">
                <img src="assets/images/resources/page-header-img-1.png" alt="">
                <div class="page-header__shape-1">
                    <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                </div>
                <div class="page-header__shape-2">
                    <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                </div>
                <div class="page-header__shape-3">
                    <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                </div>
            </div>
            <h2>Détail du Signalement</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Accueil</a></li>
                    <li><span>//</span></li>
                    <li>Détail du Signalement</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->

        <!--Blog Details Start-->
        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details__left">
                            <div class="blog-details__img-box">
                                <div class="blog-details__img">
                                    <img [src]="report.media[0]?.file_path" style="    width: 100%;
                                    height: 300px;
                                    border-radius: 20px;
                                    object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="blog-details__content">
                                <h3 class="blog-details__title-1">{{ report.title}}</h3>
                                <div class="blog-details__client-and-meta">
                                    <div class="blog-details__client-box">
               
                                        <div class="blog-details__client-content">
                                            <p>Publié par</p>
                                            <h4>{{report.username}}</h4>
                                        </div>
                                    </div>
                                    <ul class="blog-details__client-meta list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-calendar"></span>
                                            </div>
                                            <p>{{ report.updated_at | date:'dd/MM/yyyy à HH:mm' }}</p>
                                        </li>
  
                                        <li>
                                            <div class="icon">
                                                <img [src]="report.category_image_path" alt="{{ report.category_name }}" style="width: 3rem; height: 100%; object-fit: cover;" class="category-image">
                                            </div>
                                            <p>{{ report.category_name }}</p>
                                        </li>

                                    </ul>
                                </div>
                                <p class="blog-details__text-1">{{ report.description }}.</p>
                                <div class="blog-details__img-box-2">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6" *ngIf="report.media[0]?.file_path">
                                            <div class="blog-details__img-box-img">

                                                <img [src]="report.media[0]?.file_path" style=" width: 100%;
                                                height: 300px;
                                                border-radius: 20px;
                                                object-fit: cover;  " alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6" *ngIf="report.media[1]?.file_path">
                                            <div class="blog-details__img-box-img">
                                                <img [src]="report.media[1]?.file_path" style=" width: 100%;
                                                height: 300px;
                                                border-radius: 20px;
                                                object-fit: cover;  " alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6" *ngIf="report.media[2]?.file_path">
                                            <div class="blog-details__img-box-img">
                                                <img [src]="report.media[2]?.file_path" style=" width: 100%;
                                                height: 300px;
                                                border-radius: 20px;
                                                object-fit: cover;  " alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6" *ngIf="report.media[3]?.file_path">
                                            <div class="blog-details__img-box-img">
                                                <img [src]="report.media[3]?.file_path" style="  width: 100%;
                                                height: 300px;
                                                border-radius: 20px;
                                                object-fit: cover; " alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-details__tag-and-share">
                                    <div class="blog-details__tag">
                                        <span>Étiquettes:</span>
                                        <a href="#">{{ report.category_name }}</a>
                                    </div>
                                    <div class="blog-details__share">
                                        <span>Partager</span>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                                <div class="comment-one">
                                    <h3 class="comment-one__title">Total des avis ({{ comments.length }})</h3>
                                    <ul class="comment-one__single-list list-unstyled" *ngIf="comments.length!=0">
                                        <li *ngFor="let comment of comments">
                                            <div class="comment-one__single">
                                                <div class="comment-one__image-box">
                                                    <div class="comment-one__image">
                                                        <div class="avatar">{{ (comment.nom || '') | uppercase | slice:0:2  }}</div>
                                                    </div>
                                                </div>
                                                <div class="comment-one__content">
                                                    <div class="comment-one__name-box">
                                                        <h4>{{ comment.nom }} <span>{{ comment.role }}</span></h4>
                                                    </div>
                                                    <p>{{ comment.content }}</p>
                                                    <div class="comment-one__btn-box">
                                                        <a href="blog-details.html" class="comment-one__btn">Publié le : </a>
                                                        <span>{{ comment.created_at
 | date:'dd MMM, yyyy' }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-form">
                                    <h3 class="comment-form__title">Soumettez vos avis</h3>
                                    <div class="comment-form__text-and-ratting">
                                        <p class="comment-form__text">Vos évaluations </p>
                                        <ul class="comment-form__ratting list-unstyled">
                                            <li *ngFor="let star of [1, 2, 3, 4, 5]" (click)="newComment.rating = star" [class.selected]="newComment.rating >= star">
                                                <span class="icon-star"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <form (ngSubmit)="addComment(newComment)" #commentForm="ngForm">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="text" placeholder="Nom complet" name="username" [(ngModel)]="newComment.nom" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="email" placeholder="Adresse e-mail" name="email" [(ngModel)]="newComment.email" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="comment-form__input-box text-message-box">
                                                    <textarea name="text" placeholder="Écrire un avis" [(ngModel)]="newComment.content" required></textarea>
                                                </div>
                                                <div class="comment-form__btn-box">
                                                    <button type="submit" class="comment-form__btn" [disabled]="!commentForm.form.valid"><span class="icon-arrow-circle"></span>Soumettre l'avis</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="result"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <div class="sidebar__title-box">
                                    <div class="sidebar__title-icon">
                                        <img src="assets/images/icon/sidebar-title-icon.png" alt="">
                                    </div>
                                    <h3 class="sidebar__title">Recherche</h3>
                                    </div>
                                    <p class="sidebar__search-text">Effectuez une recherche pour trouver des informations utiles et des conseils sur la prévention et l’assistance en cas de fraude.</p>
                                    <form action="#" class="sidebar__search-form">
                                        <input type="search" placeholder="Rechercher...">
                                        <button type="submit"><i class="icon-search"></i></button>
                                    </form>
                            </div>
                            <div class="sidebar__single sidebar__category">
                                <div class="sidebar__title-box">
                                    <div class="sidebar__title-icon">
                                        <img src="assets/images/icon/sidebar-title-icon.png" alt="">
                                    </div>
                                    <h3 class="sidebar__title">Category </h3>
                                </div>
                                <ul class="sidebar__category-list list-unstyled">
                                    <li *ngFor="let category of categories" [class.active]="category.id === report.category_id">
                                        <a href="blog-details.html">
                                            <img [src]="category.file_path" alt="{{ category.name }}" style="    width: 3rem;
                                            height: 100%;
                                            object-fit: cover;" class="category-image">
                                            {{ category.name }} 
                                            <span class="fas fa-arrow-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <div class="sidebar__title-box">
                                    <div class="sidebar__title-icon">
                                        <img src="assets/images/icon/sidebar-title-icon.png" alt="">
                                    </div>
                                    <h3 class="sidebar__title">Derniers Signalements</h3>
                                </div>
                                <ul class="sidebar__post-list list-unstyled">
                                    <li *ngFor="let report of reports | slice:0:4">
                                        <div class="sidebar__post-image">
                                            <img [src]="report.media[0]?.file_path" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <ul class="sidebar__post-meta list-unstyled">
                                                <li>
                                                    <p><span class="icon-tags"></span>{{ report.category_name }}</p>
                                                </li>
                                                <li>
                                                    <p><span class="icon-clock"></span>{{ report.updated_at | date:'dd/MM/yyyy' }}</p>
                                                </li>
                                            </ul>
                                            <h3 class="sidebar__post-title"><a href="blog-details.html">{{ report.title}}</a></h3>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__tag">
                                <div class="sidebar__title-box">
                                    <div class="sidebar__title-icon">
                                        <img src="assets/images/icon/sidebar-title-icon.png" alt="">
                                    </div>
                                    <h3 class="sidebar__title">Mots-clés</h3>
                                </div>
                                <div class="sidebar__tag-list">
                                    <a *ngFor="let keyword of getKeywords(report.title, report.description)" href="blog-details.html">{{ keyword }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Details End-->


        <!--Newsletter Two Start -->
        <section class="newsletter-two">
            <div class="container">
                <div class="newsletter-two__inner">
                    <div class="newsletter-two__img">
                        <img src="assets/images/resources/newsletter-two-img-1.png" alt="">
                    </div>
                    <div class="newsletter-two__inner-content">
                        <div class="newsletter-two__shape-bg"
                            style="background-image: url(assets/images/shapes/newsletter-two-shape-bg.png);"></div>
                        <div class="newsletter-two__like">
                            <img src="assets/images/shapes/newsletter-two-like.png" alt="">
                        </div>
                        <div class="newsletter-two__title-box">
                            <h3 class="newsletter-two__title">Subscribe our <span>Newsletter</span></h3>
                            <p class="newsletter-two__text">Explore a diverse selection of courses all in one platform,
                                <br>
                                designed to cater to various learning</p>
                        </div>
                        <div class="newsletter-two__form-box">
                            <form class="newsletter-two__form">
                                <div class="newsletter-two__input">
                                    <input type="email" placeholder="Enter Your Email">
                                </div>
                                <button type="submit" class="newsletter-two__btn"> <span
                                        class="icon-arrow-circle"></span>
                                    Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter Two End -->

        
<app-footer></app-footer>
<app-preloader></app-preloader>