<app-header></app-header>



    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__bg" style="background-image: url(assets/images/shapes/page-header-bg-shape.png);">
        </div>
        <div class="page-header__shape-4">
            <img src="assets/images/shapes/page-header-shape-4.png" alt="">
        </div>
        <div class="page-header__shape-5">
            <img src="assets/images/shapes/page-header-shape-5.png" alt="">
        </div>
        <div class="page-header__social">
            <a href="#">Facebook</a>
            <span>//</span>
            <a href="#">Instagram</a>
            <span>//</span>
            <a href="#">LinkedIn</a>
            <span>//</span>
            <a href="#">Twitter</a>
        </div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__img">
                    <img src="assets/images/resources/page-header-img-1.png" alt="">
                    <div class="page-header__shape-1">
                        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
                    </div>
                    <div class="page-header__shape-2">
                        <img src="assets/images/shapes/la-securite-sur-internet.png" alt="">
                    </div>
                    <div class="page-header__shape-3">
                        <img src="assets/images/shapes/la-cyber-securite.png" alt="">
                    </div>
                </div>
                <h2>Signaler une Fraude</h2>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Accueil</a></li>
                        <li><span>//</span></li>
                        <li>Signaler une Fraude</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Signaler une Fraude Start-->
    <section class="become-a-teacher">
        <div class="container">
            <div class="become-a-teacher__top">
                <div class="section-title-two text-center sec-title-animation animation-style1">
                    <div class="section-title-two__tagline-box">
                        <div class="section-title-two__tagline-shape">
                            <img src="assets/images/shapes/alerte.png" alt="">
                        </div>
                        <span class="section-title-two__tagline">Signaler</span>
                    </div>
                    <h2 class="section-title-two__title title-animation">Signaler une
                        <span>Fraude</span>
                    </h2>
                </div>
                <div class="become-a-teacher__tab-box tabs-box">
                    <ul class="tab-buttons clearfix list-unstyled">
                        <li data-tab="#report-fraud" style="font-family:cursive ;" class="tab-btn active-btn" (click)="showTab('report-fraud')"><span>Signaler une fraude</span></li>
                        <li data-tab="#fraud-rules" style="font-family:cursive ;"  class="tab-btn" (click)="showTab('fraud-rules')"><span>Règles de fraude</span></li>
                        <li data-tab="#start-report" style="font-family:cursive ;"  class="tab-btn" (click)="showTab('start-report')"><span>Commencer le rapport</span></li>
                    </ul>
                    <div class="tabs-content">
                        <!--tab-->
                        <div class="tab active-tab" id="report-fraud">
                            <div class="become-a-teacher__content">
                                <p>Signalez toute activité suspecte ou frauduleuse que vous avez rencontrée. Votre vigilance aide à maintenir notre communauté en sécurité et à prévenir les fraudes.</p>
                            </div>
                        </div>
                        <!--tab-->
                        <div class="tab" id="fraud-rules">
                            <div class="become-a-teacher__content">
                                <p>Familiarisez-vous avec les règles et les directives concernant la fraude. Comprendre ces règles est essentiel pour identifier et signaler correctement les activités frauduleuses.</p>
                            </div>
                        </div>
                        <!--tab-->
                        <div class="tab" id="start-report">
                            <div class="become-a-teacher__content">
                                <p>Commencez votre rapport de fraude en fournissant des détails précis et complets. Votre rapport contribuera à nos efforts pour enquêter et prendre des mesures appropriées.</p>
                            </div>
                        </div>
                        <!--tab-->
                    </div>
                </div>
            </div>
            <div class="devenir-instructeur__bas" style="
            margin-top: 7rem;
        ">
                <div class="row">

                    <div class="col-xl-12">
                        <div class="become-a-teacher__right">
                            <div class="section-title-two text-left sec-title-animation animation-style1">
                                <div class="section-title-two__tagline-box">
                                    <div class="section-title-two__tagline-shape">
                                        <img src="assets/images/shapes/alerte.png" alt="">
                                    </div>
                                    <span class="section-title-two__tagline">Aidez-nous à lutter contre la fraude</span>
                                </div>
                                <h2 class="section-title-two__title title-animation">Signaler une fraude
                                </h2>
                            </div>
                            <form class="contact-form-validated contact-three__form" (ngSubmit)="onSubmit()" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12">
                                        <h4 class="contact-three__input-title">Titre</h4>
                                        <div class="contact-three__input-box">
                                            <input type="text" name="title" placeholder="Titre" required="" [(ngModel)]="report.title">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h4 class="contact-three__input-title">Description</h4>
                                        <div class="contact-three__input-box text-message-box">
                                            <textarea name="description" placeholder="Décrivez la fraude" [(ngModel)]="report.description"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <h4 class="contact-three__input-title">Catégorie de fraude</h4>
                                        <div class="contact-three__input-box">
                                            <p-dropdown name="category" [options]="categories" placeholder="Sélectionnez une catégorie" [(ngModel)]="selectedCategory"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <h4 class="contact-three__input-title">Ville concernée</h4>
                                        <div class="contact-three__input-box">
                                            <p-dropdown name="city" [options]="cities" placeholder="Sélectionnez une ville" [(ngModel)]="selectedCity"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="container" style="padding: 1rem">
                                        <div class="bg-white p-5 rounded shadow-sm border">
                                            <div class="dropzone d-block">
                                                <label for="files" class="dropzone-container">
                                                    <div class="file-icon">
                                                        <i style="
                                                        color: #687eff;
                                                        font-size: smaller;
                                                    " class="pi pi-plus-circle text-succes"></i>
                                                    </div>
                                                    <div class="text-center pt-3 px-5">
                                                        <p class="w-80 h5 text-dark fw-bold">
                                                            Ajoutez des preuves (images). Maximum de 4 images.
                                                        </p>
                                                        <div class="hr-sect">ou</div>
                                                        <button class="btn btn-primary mb-2" (click)="fileInput.click()" style="
                                                        background-color: #687eff;
                                                        border-color: #687eff;
                                                    ">
                                                             Parcourir les fichiers
                                                        </button>
                                                        <input #fileInput id="files" name="files[]" type="file" class="file-input" (change)="onFileSelected($event)" style="display: none" accept="image/*" />
                                                        <div *ngIf="fileError" class="error-message">
                                                            {{ fileError }}
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div *ngIf="uploadedImages.length > 0" class="mt-3">
                                                <div class="inline-container" style="margin-bottom: 1rem">
                                                    <p class="fw-bold">Images téléchargées :</p>
                                                    <p *ngIf="maxImages" class="fw-bold" style="color: #ff3737">
                                                        Vous ne pouvez télécharger que jusqu'à 3 fichiers.
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 mb-3" *ngFor="let image of uploadedImages; let i = index">
                                                        <div class="position-relative">
                                                            <img [src]="image" alt="Image téléchargée" class="img-fluid" style="width: 100%;     height: 350px !important;
    object-fit: cover !important; " />
                                                            <div class="image-overlay">
                                                                <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="deleteImage(i)">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                                <button class="btn btn-primary btn-modifier btn-sm position-absolute top-0 start-0 m-2" (click)="replaceImage(i)">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-three__btn-box" style="text-align: end;">
                                        <button type="submit"
                                            class="thm-btn-two contact-three__btn"><span>Signaler</span><i class="icon-angles-right"></i></button>
                                    </div>
                                </div>
                            </form>
                            <div class="result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Signaler une Fraude End-->





    <!--Newsletter Two Start -->
    <section class="newsletter-two">
        <div class="container">
            <div class="newsletter-two__inner">
                <div class="newsletter-two__img">
                    <img src="assets/images/resources/newsletter-two-img-1.png" alt="">
                </div>
                <div class="newsletter-two__inner-content">
                    <div class="newsletter-two__shape-bg"
                        style="background-image: url(assets/images/shapes/newsletter-two-shape-bg.png);"></div>
                    <div class="newsletter-two__like">
                        <img src="assets/images/shapes/newsletter-two-like.png" alt="">
                    </div>
                    <div class="newsletter-two__title-box">
                        <h3 class="newsletter-two__title">Subscribe our <span>Newsletter</span></h3>
                        <p class="newsletter-two__text">Explore a diverse selection of courses all in one platform,
                            <br>
                            designed to cater to various learning</p>
                    </div>
                    <div class="newsletter-two__form-box">
                        <form class="newsletter-two__form">
                            <div class="newsletter-two__input">
                                <input type="email" placeholder="Enter Your Email">
                            </div>
                            <button type="submit" class="newsletter-two__btn"> <span
                                    class="icon-arrow-circle"></span>
                                Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Newsletter Two End -->

    <!--Contact Info One Start -->
    <section class="contact-info-one">
        <div class="container">
            <ul class="list-unstyled contact-info-one__list">
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-envelope"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Email Address:</p>
                            <h5 class="contact-info-one__email"><a
                                    href="mailto:info@example.com">infoexample.com</a></h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-phone"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Phone Number</p>
                            <h5 class="contact-info-one__email"><a href="tel:001239957689">+00 123 (99) 57689</a>
                            </h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-location"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Our Address</p>
                            <h5 class="contact-info-one__email">1234 Elm Street Springfield,</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--Contact Info One End -->



<app-footer></app-footer>
<app-preloader></app-preloader>

<script>
function showTab(tabId) {
    document.querySelectorAll('.tab').forEach(tab => {
        tab.classList.remove('active-tab');
    });
    document.querySelector(`#${tabId}`).classList.add('active-tab');
    document.querySelectorAll('.tab-btn').forEach(btn => {
        btn.classList.remove('active-btn');
    });
    document.querySelector(`[data-tab="#${tabId}"]`).classList.add('active-btn');
}
</script>
